:root {
  --background: white;
  --foreground: black;
  --opacity05: hsla(0, 0%, 0%, 0.05);
  --opacity20: hsla(0, 0%, 0%, 0.2);
  --opacity40: hsla(0, 0%, 0%, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
    --opacity05: hsla(0, 0%, 100%, 0.2);
    --opacity20: hsla(0, 0%, 100%, 0.3);
    --opacity40: hsla(0, 0%, 100%, 0.4);
  }
}

html {
  align-items: center;
  background: var(--background);
  box-sizing: border-box;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100%;
  min-height: stretch;
  min-height: -webkit-fill-available;
  padding: 2rem 1rem;
}

header {
  margin-bottom: 1rem;
  text-align: center;
}

header picture {
  display: inline-flex;
  margin-bottom: 1rem;
}

header img {
  background: #45810c;
  border-radius: 6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: -0.025ch;
  margin: 0;
}

h2 {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

p {
  max-width: 700px;
}

ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  align-items: center;
  border-radius: 0.25rem;
  color: inherit;
  column-gap: 0.25rem;
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

a:hover {
  background: var(--opacity20);
  outline: none;
}

a:focus-visible {
  box-shadow: inset 0 0 0 2px var(--opacity20);
  outline: none;
}

a:active {
  background: var(--opacity40);
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  body {
    padding: 3rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 24px;
  }

  body {
    padding: 4rem 2rem;
  }
}
