:root {
  --background: white;
  --foreground: black;
  --highlight: hsl(91, 84%, 27%);
  --active: hsl(91, 95%, 15%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
    --highlight: hsl(91, 80%, 40%);
    --active: hsl(91, 84%, 27%);
  }
}

@view-transition {
  navigation: auto;
}

html {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  max-width: 21cm;
}

body {
  margin: 0;
  padding: 2rem 1rem;
}

header {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  img {
    background: #45810c;
    border-radius: 6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: block;
    object-fit: cover;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
  }

  h1 {
    margin: 0;
  }
}

h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 0 0 0.5em;
  letter-spacing: -0.025ch;
}

header h2,
h3,
h4 {
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 0.5em;
}

section:not(:first-of-type) {
  margin-top: 2em;
}

p {
  margin: 0;
}

p + p,
article {
  margin-top: 0.5em;
}

article {
  margin-top: 1em;

  header {
    margin: 0;

    h4 {
      align-items: center;
      display: flex;
      gap: 0.25em;
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

a {
  align-items: center;
  border-radius: 0.05rem;
  display: inline-flex;
  color: inherit;
  column-gap: 0.5rem;
  text-decoration: none;
  transition: color 125ms ease-out;

  &:hover {
    color: var(--highlight);
  }

  &:focus-visible {
    color: var(--highlight);
    outline: 2px solid var(--highlight);
    outline-offset: 2px;
  }

  &:active {
    color: var(--active);
  }

  &:has(svg) {
    line-height: 24px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#thoughts {
  --animation: fadeIn 200ms ease-in forwards;

  h4 {
    animation: var(--animation);
  }

  ol {
    margin: 1em 0 0 0;
    padding: 0;
    list-style: none;

    li {
      animation: var(--animation);
      animation-delay: 50ms;
      opacity: 0;

      &:nth-of-type(2) {
        animation-delay: 100ms;
      }
      &:nth-of-type(3) {
        animation-delay: 150ms;
      }
      &:nth-of-type(4) {
        animation-delay: 200ms;
      }
      &:nth-of-type(5) {
        animation-delay: 250ms;
      }

      & + li {
        margin-top: 1em;
      }

      a {
        align-items: flex-start;
        display: flex;
        flex-direction: column-reverse;

        time {
          font-size: small;
          margin-top: 0.2em;
          opacity: 0.5;
        }
      }
    }
  }
}
