.container {
    margin: 0 auto;
    max-width: 30rem;
}

.header {
    margin-bottom: 1rem;
}

.article {
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1);
    display: block;
    margin-bottom: 1rem;
    padding: 2rem;
    text-decoration: none;
    transition: box-shadow 125ms ease-in, color 125ms ease-in;
}

.article:not(:hover) {
    color: inherit;
}

.article:hover {
    box-shadow: inset 0 0 0 100px hsla(0, 0%, 100%, 0.1);
}

.title {
    composes: fontSerif from 'layouts/default.module.css';
    font-size: 1.2rem;
}

.article time {
    font-style: italic;
    opacity: 0.4;
}
