{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": false,
        "pure": true,
        "ssr": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": false
      }
    ],
    "next/babel"
  ]
}