{
  "extends": ["plugin:react/recommended", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": 1,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "printWidth": 120,
        "trailingComma": "es5"
      }
    ]
  }
}
