{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "standard",
    "standard-react",
    "prettier"
  ],
  "rules": {
    "react/prop-types": [0],
    "prettier/prettier": ["error"]
  },
  "globals": {
    "graphql": true
  }
}
