{
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": 1,
    "react/display-name": 0,
    "no-unused-vars": [2, {
      "args": "none",
      "vars": "all",
      "varsIgnorePattern": "hJSX"
    }],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "trailingComma": "all"
      }
    ]
  }
}
