.pictureContainer {
    border-radius: 3px;
    height: 96px;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    width: 96px;
}

.pictureContainer::after {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture {
    display: block;
    height: 100%;
    width: 100%;
}
