@import "reset.scss";

body {
  background-color: rgb(255, 255, 255);
  color: rgb(77, 77, 77);
  font-family: "Source Sans Pro", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

#container {
  margin: 0 auto;
  max-width: 45rem;

  @media print {
    max-width: 210mm;
  }
}

h1, h2, h3 { font-family: "Roboto Slab" }

#container {
  margin-top: 3rem;
}

@import "nav.scss";
@import "index.scss";
@import "showcase.scss";
@import "resume.scss";