#home {
  padding: 0 1rem;

  header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding-bottom: 2rem;
    text-align: center;

    div {
      background-image: url(/profile.jpg);
      background-size: contain;
      border-radius: 50%;
      height: 8rem;
      margin: 0 auto 2rem auto;
      position: relative;
      width: 8rem;
    }
    h1 { font-size: 1.5rem }
  }

  p { margin-bottom: 1rem }
  ul li {
    a {
      display: flex;
      margin-top: 1rem;
      text-decoration: none;

      &:hover {
        svg { margin: 0.25rem 1rem 0 0 }
      }

      svg {
        margin: 0.25rem 0.5rem 0 0;
        transition: margin 0.2s ease-out;
      }
    }
  }
}