#home {
  padding: 0 1rem;

  p { margin-bottom: 1rem }
  ul li {
    a {
      display: flex;
      margin-top: 1rem;
      text-decoration: none;

      &:hover {
        svg { margin: 0.25rem 1rem 0 0 }
      }

      svg {
        margin: 0.25rem 0.5rem 0 0;
        transition: margin 0.2s ease-out;
      }
    }
  }
}
