#home {

  > #nav {
    background-color: rgb(210, 224, 196);
    box-shadow: none;

    a[active] { box-shadow: inset 0 -2px rgb(77, 77, 77) }
  }

  header {
    background-color: rgb(210, 224, 196);
    margin-bottom: 3rem;
    padding: 2rem 0 1rem 0;
    position: relative;
    text-align: center;

    #profile {
      background-image: url(/profile.jpg);
      background-size: contain;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      height: 8rem;
      margin: 0 auto 1rem auto;
      width: 8rem;
    }
    h1 { font-size: 1.5rem }

    &::after {
      background-color: rgb(210, 224, 196);
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.05);
      bottom: -15%;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transform: skewY(-2deg);
      width: 100%;
      z-index: -1;
    }
  }
  section {
    margin: 0 auto;
    max-width: 45rem;
    padding: 1rem;

    ul li {
      a {
        display: flex;
        margin-top: 1rem;
        text-decoration: none;

        &:hover {
          svg { margin: 0.25rem 1rem 0 0 }
        }

        svg {
          margin: 0.25rem 0.5rem 0 0;
          transition: margin 0.2s ease-out;
        }
      }
    }
    p { margin-bottom: 1rem }
  }
}