#nav {
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  width: 100%;

  div {
    margin: 0 auto;
    max-width: 45rem;
    padding: 0 1rem;
  }

  a {
    display: block;
    float: left;
    line-height: 3rem;
    position: relative;

    &+a {
      margin-left: 1rem;
    }

    &[active]::after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid rgba(0, 0, 0, 0.4);
      bottom: 1px;
      content: "";
      display: block;
      height: 0;
      left: 50%;
      margin-left: -5px;
      position: absolute;
      width: 0; 
    }

    > i.post {
      display: inline-block;
      background-color: rgb(40, 150, 222);
      border-radius: 0.375rem;
      color: rgb(255, 255, 255);
      font-size: 0.5rem;
      line-height: 0.75rem;
      height: 0.75rem;
      top: -0.5rem;
      padding: 0 0.2rem;
      position: relative;
    }
  }

  @media print {
    display: none;
  }
}