#nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  div {
    margin: 0 auto;
    max-width: 45rem;
    padding: 0 1rem;
  }

  a {
    display: block;
    float: left;
    line-height: 3rem;
    position: relative;

    &+a {
      margin-left: 1rem;
    }

    &[active] { box-shadow: inset 0 3px rgb(40, 150, 222) }

    > i.post {
      display: inline-block;
      background-color: rgb(40, 150, 222);
      border-radius: 0.375rem;
      color: rgb(255, 255, 255);
      font-size: 0.5rem;
      line-height: 0.75rem;
      height: 0.75rem;
      top: -0.5rem;
      padding: 0 0.2rem;
      position: relative;
    }
  }

  &::after {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  bottom: 0;
  content: "";
  display: block;
  height: 200%;
  position: absolute;
  transform: skewY(-2deg);
  width: 100%;
  z-index: -1;
}

  @media print {
    display: none;
  }
}