{{ partial "meta.html" . }}
<body>
<main class="post">
	{{ partial "nav.html" . }}
	<header class="header">
		<h1>{{ .Title }}</h1>
		<div>
			<span class="reading-time">{{ .ReadingTime }} minute read, </span>
        	<time datetime="{{ .Date }}" class="post-time">posted on {{ .Date.Format "January 2, 2006" }}</time>
        </div>
	</header>
	<section class="container markdown">
		{{ .Content }}
	</section>
</main>
{{ if .PrevInSection }}
	<footer id="prev-post" class="container">
		<a href="{{ .PrevInSection.Permalink }}" class="post--preview">
			<article>
				<header>
		            <h1>{{ .PrevInSection.Title }}</h1>
		        	<p><time class="reading-time">{{ .PrevInSection.ReadingTime }}</time> minute read, posted on <time datetime="{{ .PrevInSection.Date }}" class="post-time">{{ .PrevInSection.Date.Format "January 2, 2006" }}</time></p>
		        </header>
		        <section>{{ .PrevInSection.Description }}</section>
			</article>
		</a>
	</footer>
{{ end }}