{{ partial "meta.html" . }}
<body>
<main class="post">
	{{ partial "nav.html" . }}
	<header class="header">
		<h1>{{ .Title }}</h1>
		<h2>{{ .Description }}</h2>
    	<p><time class="reading-time">{{ .ReadingTime }}</time> minute read, posted on <time datetime="{{ .Date }}" class="post-time">{{ .Date.Format "January 2, 2006" }}</time></p>
	</header>
	<section class="container markdown">
		{{ .Content }}
	</section>
</main>
{{ if .PrevInSection }}
	<footer id="prev-post" class="container">
		<a href="{{ .PrevInSection.Permalink }}" class="post--preview">
			<article>
				<h1>{{ .PrevInSection.Title }}</h1>
            	<h2>{{ .PrevInSection.Description }}</h2>
            	<p><time class="reading-time">{{ .PrevInSection.ReadingTime }}</time> minute read, posted on <time datetime="{{ .PrevInSection.Date }}" class="post-time">{{ .PrevInSection.Date.Format "January 2, 2006" }}</time></p>
			</article>
		</a>
	</footer>
{{ end }}