extends layout

block pageDescription
  meta(name="description" content="Showcase of some of the work I've done")

block pageContent
  main#portfolio
    article
      h1 Coming Soon...
      p I always leave the portfolio last when updating my website.
