extends layout

block pageDescription
  meta(name="description" content="My résumé in a printable form")

block pageContent
  main#resume
    article
      h1 Résumé
      p You can #[a(href="" onclick="window.print();preventDefault()") print this page] to save a copy of my résumé. Most browsers also support printing to PDF.
    article#resume-page(typeof="Person")
      header
        h1(property="name") Iiro Jäppinen
        p Résumé, #[time(datetime="2014-12-27") March 14th, 2015]
      section
        h2 Education
        ul
          li(property="affiliation" typeof="EducationalOrganization")
            time(datetime="2009") 2009 -
            h3 BSc
            p| #[span(property="description") Department of Mathematics and Statistics], 
             | #[span(property="name") University of Helsinki]
             | #[span(property="address") #[meta(property="addressLocality" content="Helsinki")] #[meta(property="addressCountry" content="Finland")]]
            aside(property="description") Undergraduate in biomathematics, minor in genetics
          li(property="affiliation" typeof="EducationalOrganization")
            time(datetime="2009") 2006 - 2009
            h3 Abitur
            p| #[span(property="name") Helsinki Upper Secondary School of Visual Art]
             | #[span(property="address") #[meta(property="addressLocality" content="Helsinki")] #[meta(property="addressCountry" content="Finland")]]
      section
        h2 Experience
        ul
          li(property="worksFor" typeof="Organization")
            time(datetime="2014-11") 11.2014 - (current)
            h3(property="jobTitle") UX Designer
            p(property="name") Verkkokauppa.com Oy
            aside(property="description") UX/UI design as part of the planning team
          li(property="affiliation" typeof="Organization")
            time(datetime="2014-01") 1.2014 - 9.2014
            h3(property="jobTitle") Software Engineer
            p(property="name") Humble Bundle, inc.
            aside(property="description") J-1 Internship in San Francisco, California — UX/UI design
          li(property="affiliation" typeof="Organization")
            time(datetime="2012") 2012
            h3(property="makesOffer") Icon Design
            p(property="name") Unity Technologies
            aside(property="description") Unity 4 Editor user interface icons
          li(property="affiliation" typeof="Organization")
            time(datetime="2011") 2011 - 2013
            h3(property="makesOffer") Web Design
            p(property="name") Humble Bundle, inc.
            aside(property="description") Freelance web design and branding
          li(property="founder" typeof="Organization")
            time(datetime="2011") 2011 -
            h3(property="makesOffer") UX/UI Design
            p(property="name") Iiro Jäppinen design
            aside(property="description") Various projects under own business name
          li(property="affiliation" typeof="Organization")
            time(datetime="2009") 2009-2010
            h3(property="makesOffer") User Interface Design
            p(property="name") Wolfire Games
            aside(property="description") Freelance interface design
      section(typeof="ItemList")
        h2(property="name") Languages
        ul
          li
            h3(property="itemListElement") Finnish
            aside(property="description") Native
          li
            h3(property="itemListElement") English
            aside(property="description") CEFR Level B2 / Vantage or Upper Intermediate
      section(typeof="ItemList")
        h2(property="name") Skills
        ul
          li
            h3(property="itemListElement") Vector Graphics
            aside(property="description") Adobe Illustrator, Sketch
          li
            h3(property="itemListElement") Raster Graphics
            aside(property="description") Adobe Photoshop, Pixelmator
          li
            h3(property="itemListElement") Front-end
            aside(property="description") HMTL5, CSS3, SCSS, Stylus, Jade, Node.js, etc.
