<article id="blog-info">
  {{#if @blog.logo}}
  <figure id="blog-logo" style="background-image:url({{@blog.logo}})"></figure>
  {{/if}}
  <div>
    <h1 id="blog-title">{{@blog.title}}</h1>
    {{#if @blog.description}}
      <h2 id="blog-description">{{@blog.description}}</h2>
    {{/if}}
  </div>
</article>
