<div id="nav-container">
  <input type="checkbox" id="nav-toggle">
  <label for="nav-toggle"></label>
  <nav id="nav">
    <ul>
      {{#foreach navigation}}
        <li class="page {{slug}}{{#if current}} active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
      {{/foreach}}
    </ul>
  </nav>
  <div id="nav-overlay"></div>
</div>
