<nav id="pagination">
  {{#if prev}}
  <a href="{{page_url prev}}" class="pagination-previous">Prev</a>
  {{/if}}
  {{#if next}}
  <a href="{{page_url next}}" class="pagination-next">Next</a>
  {{/if}}
</nav>
