.back {
  composes: fadeIn from '_template.module.css';
  composes: shadow from '_template.module.css';
  animation-delay: 0.3s;
  display: block;
}

@media print {
  .back {
    display: none !important;
  }
}
