.back {
    box-shadow: none !important;
    color: transparent;
    font-size: 0;
    height: 1.5rem;
    margin: 2rem 0 0 1rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    user-select: none;
    width: 1.5rem;
    z-index: 1;
}

.back::before,
.back::after {
    background-color: rgb(77, 77, 77);
    border-radius: 1px;
    content: '';
    display: block;
    height: 2px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
    transition: transform 125ms ease;
}

.back::before {
    transform: rotate(45deg);
}

.back::after {
    transform: rotate(-45deg);
}

.back:hover::before {
    transform: rotate(45deg) scale(1.2);
}

.back:hover::after {
    transform: rotate(-45deg) scale(1.2);
}

.back:active::before {
    transform: rotate(45deg) scale(1);
}

.back:active::after {
    transform: rotate(-45deg) scale(1);
}
