#about {
  padding: 1rem;

  header {
    margin-bottom: 1rem;

    h1 {
      font-size: 1.5rem;
    }
  }
  footer {
    nav {
      a {
        display: block;
        margin-top: 1rem;

        &:hover {
          svg {
            margin: 0.25rem 1rem 0 0;
          }
        }

        aside {
          color: transparentize($color--text, 0.6);
          font-size: 0.75rem;
          line-height: 0.75rem;
        }
        svg {
          background-size: 2rem;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          content: '';
          display: block;
          float: left;
          height: 2rem;
          margin: 0.25rem 0.5rem 0 0;
          transition: margin 0.2s ease-out;
          width: 2rem;
        }
      }
    }
  }
}
