@import 'reset.scss';

$color--background: rgb(242, 242, 242);
$color--text: rgb(77, 77, 77);

html {height: 100%}

body {
    background-color: $color--background;
    color: $color--text;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    height: 100%;

    @media print { background-color: white }
}

*[unresolved] {
  opacity: 0;
  transition: opacity 0.2s ease-in
}

div#container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding-top: 3rem;
}

@import 'nav.scss';
@import 'about.scss';
@import 'resume.scss';
