#navigation {
  height: 3rem;
  line-height: 3rem;
  position: fixed;
  top: 0;
  transition: box-shadow 0.2s ease-in;
  vertical-align: bottom;
  width: 100%;
  z-index: 2;

  &[opaque] {
    background-color: $color--background;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 4px 16px rgba(0, 0, 0, 0.1);
  }

  a {
    display: inline-block;
    padding: 0 1rem;
    vertical-align: top;

    &::before {
      content: "←";
      display: inline-block;
      overflow: hidden;
      transition: width 0.2s ease-in;
      vertical-align: top;
      width: 0;
    }
    &:hover::before {
      width: 1rem;
    }
  }

  @media print {display: none}
}
