#resume {
  box-sizing: border-box;
  line-height: 1.5rem;
  margin: 3rem auto;
  max-width: 210mm;
  padding: 1rem;

  a:hover {text-decoration: underline}

  header {
    margin-bottom: 1rem;

    h1 {
      font-size: 1.5rem;
    }
    p {
      color: darken(white, 20);
      font-style: italic
    }
  }

  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &+ section { margin-top: 0.5rem }
    h2 {
      margin-bottom: 1rem;
      width: 8rem;
    }
    ul {

      li {
        display: flex;

        &+ li { margin-top: 0.5rem }
        time {
          color: darken(white, 20);
          flex-shrink: 0;
          font-style: italic;
          margin-right: 1rem;
          width: 5rem;
        }
        div {

          h3 { font-weight: bold }
          aside {
            color: darken(white, 20);
            font-style: italic;
          }
        }
      }
    }
  }

  @media print {
      box-shadow: none;
      color: black;
      flex-grow: 1;
      font-family: "Times New Roman", Times, serif;
      font-size: 11pt;
      line-height: 14pt;
      padding: 0 3rem;

      header h1 {
          font-size: 18pt;
          line-height: 24pt
      }

      section { flex-wrap: nowrap}
  }
}
