{{ partial "meta.html" . }}
<body>
    {{ partial "nav.html" . }}
    <div id="container">
        <div class="row">
            <div class="col-md-9">
                <div class="well well-sm">
                    <strong>Blog Post Archive</strong>
                    <ul class="list-unstyled">
                        {{ range .Data.Pages }}
                            {{ .Render "li" }}
                        {{ end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>