html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Serif"), local("DroidSerif"), url("/font/DroidSerif-Regular.woff2") format("woff2"), url("/font/DroidSerif-Regular.woff") format("woff");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local("Droid Serif Bold"), local("DroidSerif-Bold"), url("/font/DroidSerif-Bold.woff2") format("woff2"), url("/font/DroidSerif-Bold.woff") format("woff");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url("/font/DroidSerif-Italic.woff2") format("woff2"), url("/font/DroidSerif-Italic.woff") format("woff");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

html {
  height: 100%; }

body {
  background-color: #f2f2f2;
  color: gray;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  line-height: 24px; }

body#index {
  height: 100%; }
  body#index figure.picture {
    background: url("PB101836.jpg");
    background-position: 100% 0%;
    background-size: cover;
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.1);
    height: 50%;
    margin: 0;
    width: 100%; }
  body#index div.content {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 50%;
    padding: 24px; }
    body#index div.content article {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 24px;
      width: 100%; }
      body#index div.content article aside {
        color: #cccccc;
        float: left; }
        body#index div.content article aside em {
          font-style: italic; }
      body#index div.content article h1, body#index div.content article h2, body#index div.content article address {
        margin-left: 25%; }
    body#index div.content footer {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      text-align: center;
      width: 100%; }
      body#index div.content footer ul {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        body#index div.content footer ul li {
          -webkit-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
          body#index div.content footer ul li a {
            border-radius: 3px;
            color: inherit;
            display: block;
            line-height: 48px;
            text-decoration: none;
            transition: all 0.2s ease-in; }
            body#index div.content footer ul li a:hover {
              background-color: #f9f9f9;
              box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
            body#index div.content footer ul li a:active {
              background-color: white;
              box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2); }
  @media (min-width: 640px) {
    body#index figure.picture {
      box-shadow: inset -2px 0 2px rgba(0, 0, 0, 0.1);
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 50%; }
    body#index div.content {
      margin-left: 50%;
      height: 100%; } }

body#resume article.resume {
  background-color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  max-width: 210mm;
  width: 100%;
  height: auto;
  min-height: 297mm;
  padding: 24px; }
  body#resume article.resume header {
    margin-bottom: 16px; }
    body#resume article.resume header h1 {
      font-size: 24px; }
    body#resume article.resume header p {
      color: #cccccc;
      font-style: italic; }
  body#resume article.resume section {
    position: relative; }
    body#resume article.resume section + section {
      margin-top: 8px; }
    body#resume article.resume section h2 {
      font-weight: bold; }
    body#resume article.resume section ul li + li {
      margin-top: 8px; }
    body#resume article.resume section ul li time {
      color: #cccccc;
      float: left;
      font-style: italic; }
    body#resume article.resume section ul li h3 {
      font-weight: bold;
      margin-left: 40%; }
    body#resume article.resume section ul li p {
      margin-left: 40%; }
    body#resume article.resume section ul li aside {
      margin-left: 40%;
      color: #cccccc;
      font-style: italic; }
    @media (min-width: 210mm) {
      body#resume article.resume section h2 {
        position: absolute; }
      body#resume article.resume section ul li time {
        margin-left: 20%; } }
  @media (min-width: 210mm) {
    body#resume article.resume {
      padding: 48px;
      margin: 24px auto 0 auto; } }

@media (min-width: 210mm) {
  body#resume {
    padding-bottom: 24px; } }

@media print {
  body#resume {
    background-color: white; }
    body#resume article.resume {
      color: black !important;
      box-shadow: none;
      font-size: 10pt;
      line-height: 14pt;
      margin: 0 auto;
      min-height: 0;
      padding: 48px 0 48px 48px; }
      body#resume article.resume header h1 {
        font-size: 18pt;
        line-height: 24pt; }
      body#resume article.resume section h2 {
        position: absolute; }
      body#resume article.resume section ul li time {
        margin-left: 20%; } }
