.container {
  margin: 0 auto;
  min-width: 8rem;
  padding: 0 1rem;
}

.list {
  list-style-type: square;
  margin: 0 -0.5rem;
  padding: 0 1rem;
}

.link img {
  color: inherit;
  display: inline-block;
  fill: none;
  height: 1rem;
  margin-right: 0.25rem;
  position: relative;
  stroke-width: 2px;
  stroke: currentColor;
  top: -0.075rem;
  vertical-align: middle;
  width: 1rem;
}
