@import 'nib'
global-reset()

unit = 8px
transitionStyle = 0.2s ease-out
containerWidth = 104*unit
breakOff1 = 80*unit
breakOff2 = 144*unit
textColor = rgb(0, 0, 0)
backgroundColor = rgb(255, 255, 255)

@import '_default.styl'
@import '_index.styl'
@import '_navigation.styl'
@import '_styled-content.styl'
@import '_post.styl'
@import '_page.styl'
@import '_page-resume.styl'
