div#nav-container

	label[for='nav-toggle']
		cursor pointer
		display box
		fixed bottom 0 left 0 top 0
		padding-top 6.75*unit
		width 6*unit
		z-index 4

	#nav-toggle
		fixed left 0 top 6*unit
		appearance none
		background-color textColor
		border none
		border-radius (1/4)*unit
		box-shadow 0 0 0 1px rgba(backgroundColor, 0.8)
		cursor pointer
		display block
		height (1/4)*unit
		margin 0 0 0 2*unit
		outline none
		transition left transitionStyle, background transitionStyle
		width 2*unit
		z-index 4
		&:checked
			left 32*unit
		&:checked + label
			fixed bottom 0 left 32*unit top 0 right 0
			opacity 1
			width auto
		&:checked ~ #nav-overlay
			opacity 0.2
			z-index 2
		&:checked ~ #nav
			width 32*unit
			z-index 3

		&:before, &:after
			background-color textColor
			border-radius (1/4)*unit
			box-shadow 0 0 0 1px rgba(backgroundColor, 0.8)
			content ""
			display block
			height (1/4)*unit
			width 2*unit
			relative bottom 0.5*unit
		&:after
			relative top 0.25*unit

	#nav-overlay
		background-color black
		display block
		fixed bottom 0 left 0 top 0 right
		opacity 0
		transition opacity transitionStyle
		z-index -1

	nav#nav
		background-color rgb(255, 255, 255)
		box-shadow 1px 0 2px rgba(0, 0, 0, 0.1)
		box-sizing border-box
		color alpha(textColor, 0.4)
		fixed bottom 0 left 0 top 0
		float left
		overflow-x hidden
		padding-top 3*unit
		transition width transitionStyle
		width 0

		> *
			width 32*unit !important

		ul
			li
				&.active a
						color textColor
				a
					color alpha(textColor, 0.6)
					display block
					line-height 6*unit
					padding 0 2*unit
					text-decoration none
					transition background-color transitionStyle, color transitionStyle

					&:hover
						background-color alpha(textColor, 0.05)
						color textColor
