main#page
  margin 3*unit auto
  max-width 80*unit
  padding 0 6*unit

  article
    header.post-header
      line-height 6*unit
      margin-bottom 2*unit

      section.post-meta
        font-style italic
        color alpha(textColor, 0.2)
      h1.post-title
        font-size 4*unit
        font-weight 300
