main#resume
  margin 3*unit 6*unit

  article
    box-sizing border-box
    font-family Times, serif
    margin 0 auto
    max-width 210mm
    min-height 297mm
    transition padding transitionStyle, box-shadow transitionStyle

    > h1
      font-size 3*unit
      line-height 3*unit
      margin-bottom 10px
    > h2
      color alpha(textColor, 0.4)
      font-style italic
      line-height 2*unit
      margin-bottom 3*unit
    > h3
      font-weight bold
      margin-bottom unit
    > ul
      margin-bottom 2*unit

      > li
        margin-bottom unit

        em
          color alpha(textColor, 0.4)
          font-style italic
        > em
          float left
          text-align right
          width 30%
        > ul
          margin-left 30%
          padding-left 2*unit

          > li
            margin-bottom 0

            > strong
              display block
              font-weight bold
            > em
              display block

    @media (min-width breakOff1)
      box-shadow 0 0 0 1px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 40px rgba(0, 0, 0, 0.1)
      padding 6*unit

      > h3
        margin-bottom -3*unit
      > ul
        margin-left 20%

  @media print
    margin 0 !important

    article
      box-shadow none !important
      font-size 4mm
      min-height 0 !important
      padding 0

      > h3
        margin-bottom -3*unit
      > ul
        margin-left 20%
