article#post
  margin 3*unit 0 16*unit 0

  > *
    margin 0 auto
    max-width 80*unit
    padding 0 6*unit

  header.post-header
    line-height 6*unit
    margin-bottom 3*unit

    section.post-meta
      color alpha(textColor, 0.2)
      font-style italic
    h1.post-title
      font-size 4*unit
      font-weight 300

    &.image
      height 100vh
      margin-top -4*unit
      max-width 100%
      padding 0
      position relative
      width 100%

      div.post-image
        absolute top 0 right 0 bottom 0 left 0
        background-position 50% 50%
        background-size cover
        z-index -1
      div.post-header-content
        absolute bottom 3*unit left 50%
        box-sizing border-box
        color backgroundColor
        max-width 92*unit
        text-shadow 0 1px 1px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.8)
        transform translateX(-50%)
        padding 0 6*unit
        width 100%

        section.post-meta
          color alpha(backgroundColor, 0.8)

  footer#post-author
    border-top 2px dotted rgba(0, 0, 0, 0.05)
    box-sizing border-box
    padding-top 6*unit
    margin 6*unit auto 0 auto
    max-width 92*unit

    figure#author-image
      background-position 50% 50%
      background-size cover
      border-radius 3*unit
      float left
      height 6*unit
      margin 0 unit unit 0
      vertical-align middle
      width 6*unit

    p#author-name
      font-size 3*unit
      font-weight 300
      line-height 6*unit
    p#author-bio
      color alpha(textColor, 0.4)
      clear both
      font-style italic
