.styled-content
  > *
    margin-bottom unit
  h2, h3, h4
    font-weight 500
  h2
    font-size 3*unit
    line-height 6*unit
  ol, ul
    list-style-position: inside;
  ul
    list-style-type square
  ol
    list-style-type lower-latin
  li > ul, li > ol
    margin-left 2*unit
  a
    border-bottom 1px solid alpha(textColor, 0.1)
    display inline-block
    text-decoration none
    transition border-bottom transitionStyle

    &:hover
      border-bottom 1px solid alpha(textColor, 1)
  > img
    margin 0 auto unit auto
    max-width 100%
    padding 0
  p img
    max-width 100%
  blockquote
    font-style italic

    p
      color alpha(textColor, 0.8)
      display: inline
      position relative

      &:before
        content "“"
        display inline-block
        font-size 3*unit
        margin-right unit
      &:after
        content "”"
        display inline-block
        font-size 3*unit
        margin-left unit
  code
    font-family Courier, monospace
    font-weight 500
  p > code
    background-color alpha(textColor, 0.05)
    border-radius 0.25*unit
    padding 0.25*unit unit
  pre
    background-color alpha(textColor, 0.05)
    border-radius 0.25*unit
    margin 0 0 2*unit 0
    padding unit 6*unit
  hr
    background-color alpha(textColor, 0.1)
    border none
    height 2px
    margin 6*unit 0
