html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
}
a {
  color: inherit;
}
div#site-content {
  margin: 0 auto;
}
main#posts {
  margin: -24px auto 0 auto;
  max-width: 640px;
  padding: 0 48px;
}
main#posts ol li {
  padding: 48px 0;
}
main#posts ol li+li {
  border-top: 2px dotted rgba(0,0,0,0.05);
}
main#posts ol li a {
  border-radius: 2px;
  display: block;
  text-decoration: none;
}
main#posts ol li a article.post figure.post-image {
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 3px;
  height: 0;
  margin: 0;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  padding: 0 0 40% 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
main#posts ol li a article.post header.post-header {
  font-size: 24px;
  line-height: 48px;
}
main#posts ol li a article.post header.post-header h2.post-title {
  font-weight: 300;
}
main#posts ol li a article.post section.post-excerpt {
  color: rgba(0,0,0,0.4);
  margin-bottom: 8px;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
main#posts ol li a article.post footer.post-meta {
  color: rgba(0,0,0,0.4);
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
main#posts ol li a article.post footer.post-meta aside.post-featured {
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 600;
  margin-right: 8px;
  padding: 0 8px;
  vertical-align: top;
}
main#posts ol li a article.post footer.post-meta time {
  font-style: italic;
}
main#posts ol li a:hover article.post figure.post-image,
main#posts ol li a:hover article.post section.post-excerpt,
main#posts ol li a:hover article.post footer.post-meta {
  color: #000;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
main#posts nav#pagination {
  text-align: center;
}
main#posts nav#pagination a {
  background-color: rgba(0,0,0,0.1);
  border-radius: 24px;
  display: inline-block;
  color: rgba(0,0,0,0.4);
  font-size: 0.75em;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  width: 48px;
}
article#blog-info {
  border-top: 2px dotted rgba(0,0,0,0.05);
  padding: 48px 48px 0 48px;
  margin: 0 auto 96px auto;
  max-width: 640px;
}
article#blog-info figure#blog-logo {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  float: left;
  height: 48px;
  margin: 0 8px 0 0;
  vertical-align: middle;
  width: 48px;
}
article#blog-info > div {
  margin-left: 64px;
}
article#blog-info > div h1#blog-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}
article#blog-info > div h2#blog-description {
  color: rgba(0,0,0,0.4);
  font-style: italic;
}
div#nav-container label[for='nav-toggle'] {
  cursor: pointer;
  display: box;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  padding-top: 54px;
  width: 48px;
  z-index: 4;
}
div#nav-container #nav-toggle {
  position: fixed;
  left: 0;
  top: 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.8);
  cursor: pointer;
  display: block;
  height: 2px;
  margin: 0 0 0 16px;
  outline: none;
  -webkit-transition: left 0.2s ease-out, background 0.2s ease-out;
  transition: left 0.2s ease-out, background 0.2s ease-out;
  width: 16px;
  z-index: 4;
}
div#nav-container #nav-toggle:checked {
  left: 256px;
}
div#nav-container #nav-toggle:checked + label {
  position: fixed;
  bottom: 0;
  left: 256px;
  top: 0;
  right: 0;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  width: auto;
}
div#nav-container #nav-toggle:checked ~ #nav-overlay {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  z-index: 2;
}
div#nav-container #nav-toggle:checked ~ #nav {
  width: 256px;
  z-index: 3;
}
div#nav-container #nav-toggle:before,
div#nav-container #nav-toggle:after {
  background-color: #000;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.8);
  content: "";
  display: block;
  height: 2px;
  width: 16px;
  position: relative;
  bottom: 4px;
}
div#nav-container #nav-toggle:after {
  position: relative;
  top: 2px;
}
div#nav-container #nav-overlay {
  background-color: #000;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  z-index: -1;
}
div#nav-container nav#nav {
  background-color: #fff;
  box-shadow: 1px 0 2px rgba(0,0,0,0.1);
  box-sizing: border-box;
  color: rgba(0,0,0,0.4);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  float: left;
  overflow-x: hidden;
  padding-top: 24px;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  width: 0;
}
div#nav-container nav#nav > * {
  width: 256px !important;
}
div#nav-container nav#nav ul li.active a {
  color: #000;
}
div#nav-container nav#nav ul li a {
  color: rgba(0,0,0,0.6);
  display: block;
  line-height: 48px;
  padding: 0 16px;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
div#nav-container nav#nav ul li a:hover {
  background-color: rgba(0,0,0,0.05);
  color: #000;
}
.styled-content > * {
  margin-bottom: 8px;
}
.styled-content h2,
.styled-content h3,
.styled-content h4 {
  font-weight: 500;
}
.styled-content h2 {
  font-size: 24px;
  line-height: 48px;
}
.styled-content ol,
.styled-content ul {
  list-style-position: inside;
}
.styled-content ul {
  list-style-type: square;
}
.styled-content ol {
  list-style-type: lower-latin;
}
.styled-content li > ul,
.styled-content li > ol {
  margin-left: 16px;
}
.styled-content a {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: inline-block;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s ease-out;
  transition: border-bottom 0.2s ease-out;
}
.styled-content a:hover {
  border-bottom: 1px solid #000;
}
.styled-content > img {
  margin: 0 auto 8px auto;
  max-width: 100%;
  padding: 0;
}
.styled-content p img {
  max-width: 100%;
}
.styled-content blockquote {
  font-style: italic;
}
.styled-content blockquote p {
  color: rgba(0,0,0,0.8);
  display: inline;
  position: relative;
}
.styled-content blockquote p:before {
  content: "“";
  display: inline-block;
  font-size: 24px;
  margin-right: 8px;
}
.styled-content blockquote p:after {
  content: "”";
  display: inline-block;
  font-size: 24px;
  margin-left: 8px;
}
.styled-content code {
  font-family: Courier, monospace;
  font-weight: 500;
}
.styled-content p > code {
  background-color: rgba(0,0,0,0.05);
  border-radius: 2px;
  padding: 2px 8px;
}
.styled-content pre {
  background-color: rgba(0,0,0,0.05);
  border-radius: 2px;
  margin: 0 0 16px 0;
  padding: 8px 48px;
}
.styled-content hr {
  background-color: rgba(0,0,0,0.1);
  border: none;
  height: 2px;
  margin: 48px 0;
}
article#post {
  margin: 24px 0 128px 0;
}
article#post > * {
  margin: 0 auto;
  max-width: 640px;
  padding: 0 48px;
}
article#post header.post-header {
  line-height: 48px;
  margin-bottom: 24px;
}
article#post header.post-header section.post-meta {
  color: rgba(0,0,0,0.2);
  font-style: italic;
}
article#post header.post-header h1.post-title {
  font-size: 32px;
  font-weight: 300;
}
article#post header.post-header.image {
  height: 100vh;
  margin-top: -32px;
  max-width: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}
article#post header.post-header.image div.post-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -1;
}
article#post header.post-header.image div.post-header-content {
  position: absolute;
  bottom: 24px;
  left: 50%;
  box-sizing: border-box;
  color: #fff;
  max-width: 736px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4), 0 4px 8px rgba(0,0,0,0.8);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0 48px;
  width: 100%;
}
article#post header.post-header.image div.post-header-content section.post-meta {
  color: rgba(255,255,255,0.8);
}
article#post footer#post-author {
  border-top: 2px dotted rgba(0,0,0,0.05);
  box-sizing: border-box;
  padding-top: 48px;
  margin: 48px auto 0 auto;
  max-width: 736px;
}
article#post footer#post-author figure#author-image {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  float: left;
  height: 48px;
  margin: 0 8px 8px 0;
  vertical-align: middle;
  width: 48px;
}
article#post footer#post-author p#author-name {
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
}
article#post footer#post-author p#author-bio {
  color: rgba(0,0,0,0.4);
  clear: both;
  font-style: italic;
}
main#page {
  margin: 24px auto;
  max-width: 640px;
  padding: 0 48px;
}
main#page article header.post-header {
  line-height: 48px;
  margin-bottom: 16px;
}
main#page article header.post-header section.post-meta {
  font-style: italic;
  color: rgba(0,0,0,0.2);
}
main#page article header.post-header h1.post-title {
  font-size: 32px;
  font-weight: 300;
}
main#resume {
  margin: 24px 48px;
}
main#resume article {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 4px 4px rgba(0,0,0,0.1), 0 1px 40px rgba(0,0,0,0.1);
  box-sizing: border-box;
  font-family: Times, serif;
  margin: 0 auto;
  max-width: 210mm;
  min-height: 297mm;
  padding: 24px;
}
main#resume article > h1 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}
main#resume article > h2 {
  color: rgba(0,0,0,0.4);
  font-style: italic;
  line-height: 16px;
  margin-bottom: 24px;
}
main#resume article > h3 {
  font-weight: bold;
  margin-bottom: 8px;
}
main#resume article > ul {
  margin-bottom: 16px;
}
main#resume article > ul > li {
  margin-bottom: 8px;
}
main#resume article > ul > li em {
  color: rgba(0,0,0,0.4);
  font-style: italic;
}
main#resume article > ul > li > em {
  float: left;
  width: 25%;
}
main#resume article > ul > li > ul {
  margin-left: 25%;
}
main#resume article > ul > li > ul > li > strong {
  display: block;
  font-weight: bold;
}
main#resume article > ul > li > ul > li > em {
  display: block;
}
@media (min-width: 640px) {
  main#resume article {
    padding: 48px;
  }
  main#resume article > h3 {
    margin-bottom: -24px;
  }
  main#resume article > ul {
    margin-left: 30%;
  }
}
