.container {
    line-height: 32px;
    margin: 0 auto;
    max-width: 30rem;
}

.container p + p {
    margin-top: 1rem;
}

.container strong {
    font-weight: 600;
}

.container a:not(:hover) {
    color: inherit;
}

.second {
    color: hsla(0, 0%, 75%, 1);
}

.third {
    color: hsla(0, 0%, 60%, 1);
}
