.back {
    composes: boxLink from 'layouts/default.module.css';
}

.post {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 38rem;
    padding: 2rem 1rem;
}

.hgroup {
    padding-bottom: 2rem;
}

.title {
    composes: fontSerif from 'layouts/default.module.css';
    font-size: 2rem;
    line-height: 2rem;
}

.subtitle, .meta {
    color: hsl(0, 0%, 60%);
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

.postBody h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 500;
    margin: 1rem 0;
}

.postBody p {
    margin-bottom: 0.5rem;
}

.postBody em {
    font-style: oblique;
}

.postBody strong {
    font-weight: 500;
}

.postBody s {
    color: hsl(0, 0%, 60%);
    text-decoration: line-through;
}

.postBody ul, .postBody ol {
    list-style-type: square;
    margin: 0 -0.5rem 0.5rem -0.5rem;;
    padding: 0 1rem;
}

.postBody ol {
    list-style-type: decimal;
}

.postBody hr {
    border: none;
    box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
    height: 1px;
    margin: 4rem auto;
    width: 50%;
}

.postBody img {
    display: block;
    margin: 3rem auto;
    max-height: 75vh;
    max-width: 100%;
}

.postBody blockquote {
    box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.1);
    margin: 0 -0.5rem;
    padding: 0 1rem;
}

.postBody blockquote cite {
    color: rgb(142, 142, 142);
    display: block;
}

.postBody pre {
    background-color: rgb(242, 242, 242);
    border-radius: 2px;
    overflow-x: scroll;
    padding: 1rem;
}

.postBody code {
    background-color: rgb(242, 242, 242);
    border-radius: 2px;
    font-family: 'Menlo', monospace;
    font-size: 0.8rem;
    padding: 2px 4px;
}
