.container {
    line-height: 32px;
    margin: 0 auto;
    max-width: 30rem;
}

.container p {
    margin-bottom: 1rem;
}

.link {
    display: inline-block;
    text-decoration: none;
}

.icon {
    display: inline-block;
    fill-rule: evenodd;
    fill: none;
    height: 32px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    vertical-align: -30%;
    viewBox: 0 0 32 32;
    width: 32px;
}

.icon * {
    transition: stroke 125ms ease-in;
}

.icon *[data-styling=base] {
    stroke: hsla(195, 70%, 80%, 1);
}

.icon *[data-styling=highlight] {
    stroke: hsla(0, 0%, 100%, 1);
}

.link:hover .icon * {
    stroke: hsla(195, 80%, 50%, 1);
}

.link:active .icon * {
    stroke: hsla(195, 80%, 30%, 1);
}
