.container {
    line-height: 32px;
    margin: 0 auto;
    max-width: 30rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list > div {
    display: flex;
    flex: auto;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.list > div li {
    flex: 1;
}

.link {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    text-decoration: none;
}

.link:not(:hover) {
    color: hsla(0, 0%, 90%, 1);
}

.icon {
    display: inline-block;
    fill-rule: evenodd;
    fill: none;
    height: 32px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    transition: transform 125ms ease-in;
    vertical-align: -30%;
    viewBox: 0 0 32 32;
    width: 32px;
}

.icon * {
    transition: stroke 125ms ease-in;
}

.icon *[data-styling=base] {
    stroke: hsla(195, 0%, 100%, 1);
}

.icon *[data-styling=highlight] {
    stroke: hsla(195, 80%, 50%, 1);
}

.link:hover .icon {
    transform: scale(1.2);
}

.link:active .icon {
    transform: scale(1.0);
}

.link:hover .icon * {
    stroke: hsla(195, 80%, 50%, 1);
}

.link:active .icon * {
    stroke: hsla(195, 80%, 30%, 1);
}
