.back {
    composes: boxLink from 'layouts/default.module.css';
}

.back a:hover {
    background: hsla(18, 75%, 60%, 1);
    color: white;
}

.header {
    composes: fontSerif from 'layouts/default.module.css';
    color: hsla(0, 0%, 60%, 1);
    font-size: 1.25rem;
    margin: 1rem;
}

.posts {
    margin: 1rem 0;
}

.post {
    box-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.05);
    color: inherit;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.post:hover {
    color: hsla(195, 80%, 50%, 1);
}

.post:active {
    color: hsla(195, 100%, 30%, 1);
}

.title {
    composes: fontSerif from 'layouts/default.module.css';
    font-size: 1.25rem;
}
