@import 'nib'
global-reset()

unit = 8px
transitionStyle = 0.2s ease-out
containerWidth = 104*unit
breakOff = 69*unit

@font-face
  font-family 'Roboto'
  font-style normal
  font-weight 500
  src local('Roboto'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUSZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype')

a
	color inherit

body {
  background: white;
  color: lighten(black, 30);
	font-family: Roboto, sans-serif;
	font-size: 2*unit;
	font-smoothing: antialiased;
	font-weight: 500;
	line-height: 3*unit;
	margin: 0 auto;
	overflow-x: hidden;
}

body#error
	background white
	color lighten(black, 90)

	h1
		font-size 4*unit
		position relative
		text-align center
		top 50%
		transform translateY(-50%)

label[for='nav-checkbox']
	cursor pointer
	display box
	fixed bottom 0 left 0 top 0
	padding-top 6.75*unit
	width 6*unit
	z-index 4

	@media (min-width breakOff)
		display none

#nav-checkbox
	fixed left 2*unit top 7*unit
	appearance none
	background-color black
	border none
	border-radius (1/4)*unit
	cursor pointer
	display block
	height (1/4)*unit
	margin 0
	outline none
	transition left transitionStyle, background transitionStyle
	width 2*unit
	z-index 4
	&:checked
		background-color black
		left 22.5*unit
		&:before, &:after
			background-color black
	&:checked + label
		fixed bottom 0 left 20*unit top 0 right 0
		opacity 1
		width auto
	&:checked ~ #nav-overlay
		opacity 0.4
		z-index 2
	&:checked ~ #nav
		width 20*unit

	&:before, &:after
		background-color black
		border-radius (1/4)*unit
		content ""
		display block
		height (1/4)*unit
		width 2*unit
		relative bottom 0.5*unit
	&:after
		relative top 0.25*unit

	@media (min-width breakOff)
		display none

#nav-overlay
	background-color black
	display block
	fixed bottom 0 left 0 top 0 right
	opacity 0
	transition opacity transitionStyle
	z-index -1

	@media (min-width breakOff)
		display none

#nav
	background white
	box-sizing border-box
	fixed bottom 0 left 0 top 0
	float left
	overflow-x hidden
	padding-top 4*unit
	transition width transitionStyle
	width 0
	z-index 3

	ul
		li
			&.active a
					box-shadow inset 2px 0 alpha(black, 0.6)
					color black
					position relative
			a
				display block
				line-height 6*unit
				padding 0 2*unit
				text-decoration none

				&:hover
					background-color alpha(black, 0.1)
				&:active
					background-color alpha(black, 0.2)

	@media (min-width breakOff)
		background none
		box-shadow none
		width 20*unit

#content
	position relative

	> main
		margin 0 2*unit 0 6*unit
		padding 4*unit 0
		position relative

		article + article
			margin-top 2*unit

		h1
			font-size 3*unit
			line-height 6*unit
			margin-bottom 2*unit
		h2
			font-size 2.5*unit
			margin 2*unit 0
		p
			margin-bottom unit

		@media (min-width breakOff)
			margin 0 22*unit

// Resume page
#resume
	article:not(#resume-page)
		margin-bottom 4*unit
	article#resume-page
		background-color white
		box-shadow 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 40px rgba(0, 0, 0, 0.1)
		box-sizing border-box
		color black
		font-family 'Times New Roman', Times, serif
		font-size 1.75*unit
		font-weight normal
		line-height 2.5*unit
		margin 0
		max-width 210mm
		padding 3*unit
		text-align left !important

		header
			margin-bottom 40px

			h1
				font-size 3*unit
				line-height 3*unit
				margin-bottom 10px
		header p, aside
			color lighten(black, 40)
			font-style italic
			line-height 2*unit
		section
			+ section
				margin-top 2*unit
			h2
				font-size inherit
				font-weight bold
				margin 0 0 2*unit 0
			ul
				li
					+ li
						margin-top: 10px
					time
						color lighten(black, 40)
						float left
						font-style italic
						width 25%
					h3, p, aside
						margin-left 30%
					h3
						font-weight bold
					p
						margin-bottom 0

		@media (min-width: breakOff)
			min-height 297mm
			padding 8*unit 10*unit 0 10*unit

			header
				margin-bottom 5*unit
			section
				h2
					float left
				ul
					margin-left 20%
		@media print
			box-shadow none
			min-height 0
body.Résumé
	@media print
		background none

		label[for='nav-checkbox'], #nav-checkbox, #nav
			display none

		main#resume
			margin 0
			padding 0

			article:not(#resume-page)
				display none

// About page
#about
	article
		text-align justify
