.defaultFontStyle {
  color: rgb(77, 77, 77);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
}

.defaultFontFamily {
  font-family:
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.fancyFontFamily {
  font-family: Merriweather, georgia, serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.root {
  composes: defaultFontFamily;
  composes: defaultFontStyle;
}

.root *::selection {
  background-color: rgb(206, 204, 255);
}

.underlineA a {
  box-shadow: inset 0 -4px 0 rgb(255, 222, 128);
  color: inherit;
  text-decoration: none;
}

.underlineA a:hover {
  box-shadow: inset 0 -1rem 0 rgb(255, 222, 128);
}

.underlineA a:active {
  color: rgb(0, 0, 0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  box-sizing: border-box;
  max-width: 38rem;
  width: 100%;
}

.fadeIn {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateY(none);
    visibility: visible;
  }
}

.shadow {
  background-color: rgb(255, 255, 255);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.02),
    0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  transition: box-shadow 0.2s ease-out;
}

.shadow:hover {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.02),
    0 2px 4px rgba(0, 0, 0, 0.1);
}

.shadow:active {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.1);
}
