.container > * {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 67vh;
    padding: 1rem;
}

.container > *:nth-child(2n-1) {
    background-color: hsla(0, 0%, 0%, 0.2);
}
