:root {
    background-color: hsla(0, 0%, 95%, 1);
    color: hsla(0, 0%, 30%, 1);
    font-family:
        -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

:global(a) {
    box-shadow: inset 0 -4px 0 hsla(44, 100%, 75%, 1);
    color: inherit;
    text-decoration: none;
    word-wrap: break-word;
}

:global(a:hover) {
    box-shadow: inset 0 -1rem 0 hsla(44, 100%, 75%, 1)
}

:global(a:active) {
    color: hsla(0, 0%, 0%, 1);
}

.root {
    line-height: 1.5rem;
}

.fontSerif {
    font-family: Georgia, serif;
}

.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
}
