@import '_variables.scss';

.font {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
}

.fontSans {
    @extend .font;
    font-family:
        -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

.fontSerif {
    @extend .font;
    font-family: Alegreya, georgia, serif;
}

.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
}

#root {
    @extend .fontSans;
    color: $baseColor;
}

#root a {
    color: $complementaryColor;
    transition: color 0.1s ease-in;
}

#root a:hover {
    color: $baseColor;
}
