@import 'reset.scss';
@import 'font.scss';

$point: 8px;

html { height: 100% }
body {
  background-color: darken(white, 5);
  color: darken(white, 50);
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  line-height: 24px
}

@import 'index.scss';
@import 'resume.scss';
@import 'print.scss';
