svg.icon {
    display: inline-block;
    fill-rule: evenodd;
    fill: none;
    height: 32px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    viewBox: 0 0 32 32;
    vertical-align: -45%;
    width: 32px;

    .base {
        stroke: hsl(180, 25%, 32%);
    }
    .highlight {
        stroke: hsl(315, 50%, 60%);
    }
}
