body
  background-color rgb(230, 230, 230)
  font-family 'Droid Serif', serif

  h1
    absolute top 50%
    color rgb(255, 255, 255)
    text-align center
    transform translateY(-50%)
    width 100%
