.profile {
    align-items: center;
    background-color: hsl(180, 10%, 20%);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.profileContainer {
    text-align: center;
    text-shadow: 0 2px 0 hsla(0, 0%, 0%, 0.2);
}

.profilePicture {
    animation-delay: 0.25s;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: profilePictureAppear;
    border-radius: 50%;
    box-shadow: 0 0    0   1px hsla(0, 0%, 0%, 0.1),
                0 2px  2px 0   hsla(0, 0%, 0%, 0.2),
                0 2px 16px 0   hsla(0, 0%, 0%, 0.2);
    height: 192px;
    margin-bottom: 1rem;
    width: 192px;
}

@keyframes profilePictureAppear {
    0% { height: 0; transform: scale(0); }
    100% { height: 192px; transform: scale(1);}
}

.profileName {
    composes: fontSerif from '_template.module.css';
    font-size: 1.5rem;
}

.profileTitle {
    font-style: italic;
}

.ampersand {
    composes: fontAmpersand from '_template.module.css';
}

.links {
    align-items: center;
    background-color: hsl(180, 10%, 15%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

.link {
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.link:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.2);
}

.link svg {
    margin-right: 1rem;
}
