.profile {
    background-color: hsl(180, 10%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.profileContainer {
    text-align: center;
}

.profilePicture {
    border-radius: 50%;
    box-shadow: 0 0    0   1px hsla(0, 0%, 0%, 0.1),
                0 2px  2px 0   hsla(0, 0%, 0%, 0.2),
                0 2px 16px 0   hsla(0, 0%, 0%, 0.2);
    height: 192px;
    margin-bottom: 1rem;
    width: 192px;
}

.profileName {
    composes: fontSerif from '_template.module.css';
    font-size: 1.25rem;
}
