.container {
    flex-basis: 19rem;
}

.container .articleLink {
    color: inherit;
    text-decoration: inherit;
}

.header {
    color: hsl(0, 0%, 60%);
    margin: 0.75rem 0 1rem 0;
}

.article {
    composes: boxLink from 'styles/_template.module.css';
    border-radius: 4px;
}

.title {
    composes: fontSerif from 'styles/_template.module.css';
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.article time {
    font-style: italic;
    opacity: 0.4;
}
