body#index
  height 100%

  figure.picture
    background-image url('profile.jpg')
    background-position 50% 50%
    background-size cover
    height 50%
    margin 0
    width 100%

  div.content
    box-sizing border-box
    display flex
    flex-direction column
    min-height 50%
    padding 24px
    text-align center

    article
      align-self center
      display flex
      flex 1
      margin-bottom 24px

      header
        align-self center
        margin auto

        h1
          font-size 24px

    footer
      align-self flex-end
      width 100%

      ul
        display flex
        align-items center

        li
          flex 1

          a
            border-radius 3px
            color inherit
            display block
            line-height 48px
            text-decoration none
            transition all 0.2s ease-in

            &:hover
              background-color darken(white, 2.5)
              box-shadow 0 2px 2px rgba(0, 0, 0, 0.1)
            &:active
              background-color white
              box-shadow 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2)

  @media (min-width 640px)
    figure.picture
      fixed top 0 left 0
      height 100%
      width 50%
    div.content
      margin-left 50%
      height 100%