.link {
    color: inherit;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.icon {
    display: inline-block;
    fill-rule: evenodd;
    fill: none;
    height: 32px;
    margin-right: 1rem;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    vertical-align: -45%;
    viewBox: 0 0 32 32;
    width: 32px;
}

.icon * {
    transition: stroke 125ms ease-in;
}

.icon *[data-styling=base] {
    stroke: hsl(0, 0%, 30%);
}

.icon *[data-styling=highlight] {
    stroke: hsla(195, 80%, 50%, 1);
}

.link:hover .icon * {
    stroke: hsla(195, 80%, 50%, 1);
}

.link:active .icon * {
    stroke: hsla(195, 80%, 30%, 1);
}
