@import '_template.scss';

.index-links {
    .link {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;

        svg {
            margin-right: 1rem;

            .highlight {
                transition: stroke 0.1s ease-in;
            }
        }
        &:hover {
            svg .highlight {
                stroke: $baseColor;
            }
        }
    }
}
