@media print
  body#resume
    background-color rgb(255, 255, 255)

    article.resume
      color rgb(0, 0, 0) !important
      box-shadow none
      font-size 10pt
      line-height 14pt
      margin 0 auto
      min-height 0
      padding 48px 0 48px 48px

      header
        h1
          font-size 18pt
          line-height 24pt
      section
        h2
          position absolute
        ul li time
              margin-left 20%
