body#resume {

  article.resume {
    background-color: white;
    box-shadow: 0 $point 6*$point rgba(0, 0, 0, 0.2), 0 0.25*$point 0.5*$point rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-width: 210mm;
    width: 100%;
    height: auto;
    min-height: 297mm;
    padding: 3*$point;

    header {
      margin-bottom: 2*$point;

      h1 { font-size: 3*$point }
      p {
        color: darken(white, 20);
        font-style: italic
      }
    }

    section {
      position: relative;

      &+ section { margin-top: $point }
      h2 { font-weight: bold }
      ul {
        li {
          &+ li { margin-top: $point }
          time {
            color: darken(white, 20);
            float: left;
            font-style: italic
          }
          h3 {
            font-weight: bold;
            margin-left: 40%
          }
          p { margin-left: 40% }
          aside {
            margin-left: 40%;
            color: darken(white, 20);
            font-style: italic;
          }
        }
      }

      @media (min-width: 210mm) {
        h2 { position: absolute }
        ul li time { margin-left: 20% }
      }
    }

    @media (min-width: 210mm) {
      padding: 6*$point;
      margin: 3*$point auto 0 auto
    }
  }

  @media (min-width: 210mm) { padding-bottom: 3*$point }
}