x-tabs {
    line-height: 3rem;
    margin: 0 1rem;
    position: relative;
    vertical-align: top;

    a {
        float: left;
        transition: box-shadow 0.2s ease-in;
        vertical-align: middle;

        &[active] {
            box-shadow: inset 0 -2px $color--text;
        }

        & + a { margin-left: 1rem }
    }
}