.container {
  composes: container from '_template.module.css';
  composes: underlineA from '_template.module.css';
  align-items: center;
  display: flex;
  margin: 2rem auto;
  padding: 0 1rem;
}

.text {
  margin-left: 1rem;
}

.name {
  composes: fancyFontFamily from '_template.module.css';
  margin: 0;
}
