.container {
  composes: underlineA from '_template.module.css';
  align-items: center;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 4rem;
  padding-top: 2rem;
}

.image {
  height: 4rem;
  margin-right: 1rem;
  width: 4rem;
}

.name {
  composes: fancyFontFamily from '_template.module.css';
  margin: 0;
}
