.header {
    composes: fontSerif from 'layouts/default.module.css';
    background-color: white;
    font-size: 1.5rem;
    padding: 2rem 3rem 4rem;
    text-align: center;
}

.container {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
}

.more {
    composes: fontSerif from 'layouts/default.module.css';
    color: hsla(0, 0%, 60%, 1);
    font-size: 1.5em;
    font-style: italic;
    margin: 4rem auto;
    text-align: center;
}
