name: Main

on:
  push:
    branches:
      - main

jobs:
  semantic-release:
    # Skip release commits themselves to prevent infinite release loop
    if: ${{ !endsWith(github.event.head_commit.message, '[semantic-release]') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: oven-sh/setup-bun@v2
      - uses: actions/cache@v5
        id: cache-node_modules
        with:
          path: node_modules
          key: ${{ runner.os }}-bun-${{ hashFiles('bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-${{ hashFiles('bun.lock') }}
      - if: steps.cache-node_modules.outputs.cache-hit != 'true'
        run: bun install --frozen-lockfile
      - run: bun run lint
      - run: bun run bundle
      - run: bun x semantic-release
        env:
          GH_TOKEN: ${{ secrets.SEMANTIC_RELEASE_TOKEN }}
          GIT_AUTHOR_NAME: ${{ github.event.head_commit.author.name }}
          GIT_AUTHOR_EMAIL: ${{ github.event.head_commit.author.email }}
          GIT_GIT_COMMITTER_NAME_NAME: ${{ github.event.head_commit.committer.name }}
          GIT_GIT_COMMITTER_NAME_EMAIL: ${{ github.event.head_commit.committer.email }}
